@mixin centrar_bloque {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin elementos_linea {
   display: flex;
   justify-content: space-around;
    
}